<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Cmmunication Test Suite" verbose="1">
	<test name="Test 1">
		<packages>
			<package name="com.ocme.cms.communication.*"/>
		</packages>
	</test>
	<test name="Investigation Test Suite">
		<packages>
			<package name="com.ocme.cms.investigation"/>
		</packages>
	</test>

</suite>